<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}">
<!-- <script src="{{url_for('static',filename='js/bundle.js')}}"></script>-->
<!--<script async defer src="{{url_for('static',filename='js/test.js')}}"></script>-->
<title>code</title>
<style type="text/css">
   body {background-image: url({{url_for('static',filename='image/table.jpg')}}); background-size: 100% 100%;}
    table,th {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; width: 50%}
    td {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; }
</style>
</head>
<body>
<h1>原则</h1>
<a href="/">index</a> 
 || <a href="interfaceList">待请求接口列表</a>
 || <a href="interfaceRespondList">接口请求结果</a>
 || <a href="collvalue">前后端对接文档</a>
 || <a href="integrate">接口集成测试</a>
<hr />
<table>
</table>
</body>
</html>
