h1{text-align: center; color: #fff; font-family:Quicksand,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,sans-serif;}
h2{text-align: center;}
a{font-size: 22px; font-weight: bold; color: #eee; display: inline-block; text-align: center; font-family:Quicksand,"游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"Yu Gothic UI","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,sans-serif;}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}
/*body {background-image: url('../image/page.jpg'); background-size: 100% 100%}*/
#body {background-image: url('../image/83.jpg'); background-size: 100% 100%}
body {background-color: #8cc; background-size: 100% 100%}
span {font-size: 16px; color:#933;}
table,th {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; width: 100%}
td {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; }
div {margin: 20px;}
#runmokuai span { font-size: 18px; color: #000; margin: 10px;}
#bmokuai {float: left; margin: 50px;}
table tr:nth-child(even){background: #efe;}

.hide{
            display: none;
        }
.c1{
            position: fixed;
            top:0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,.5);
            z-index: 2;
        }
.c2{
            background-color: white;
            position: fixed;
            width: 700px;
            height: 600px;
            top:40%;
            left: 40%;
            z-index: 3;
            margin-top: -150px;
            margin-left: -200px;
        }
#modal p {
			margin-left:80px;
		}
.c3{
            position: fixed;
            top:0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,.5);
            z-index: 2;
        }
.c4{
            background-color: white;
            position: fixed;
            width: 700px;
            height: 600px;
            top:40%;
            left: 40%;
            z-index: 3;
            margin-top: -150px;
            margin-left: -200px;
        }

#moda2 p {
			margin-left:80px;
		}

#editinter {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #fff; /* Green */
    border: none;
    color: #000;
    margin: 2px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

#editinter:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#editinter{
    margin-top: 4px;
    margin-left: 6px;
    border: solid 1px; /*将原本的边框的设置为0*/
    border-radius: 12px; /*设置四个角的弧度*/
    width: 75px;
    height: 24px;
    cursor: pointer;/*设置鼠标悬浮时，鼠标的样式*/
    font-size: 0;/*hahahhahahahahaha,这里是我脑洞大发，把字体设置为0，但是这样一来没有字体撑开，它会很小很小，所以在上面制定了宽度和高度*/
    z-index: 9;
}
