<html>
<head>
<title>code</title>
<style type="text/css">
    table,th {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; width: 50%}
    td {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff0000; border-collapse: collapse; }
</style>
</head>
<body>
<center><h2>前后端对接文档</h2></center>
<a href="/">index</a> 
<hr />
<table>
<thead>
<tr>
<th>id</th><th>code</th><th>meaning</th>
</tr>
</thead>
<tfoot>
<tr>
<th>id</th><th>code</th><th>meaning</th>
</tr>
</tfoot>
<tbody>
{% for i in result[0] %}
<tr>
<th>{{i[0]}}</th><th>{{i[1]}}</th><th>{{i[2]}}</th>
</tr>
{% endfor %}
</tbody>
</form>
</table>
</body>
</html>
