<html>
<head>
<title>国科晋云</title>
<meta name="referrer" content="no-referrer"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="https://csdnimg.cn/public/favicon.ico" type="image/x-icon"/>
<style>
/*body {background-image: url('https://c-ssl.duitang.com/uploads/item/201802/22/20180222071441_oltdv.thumb.700_0.jpg'); background-repeat: no-repeat; background-size: cover;}*/
body {background-image: url(https://c-ssl.duitang.com/uploads/item/201911/07/20191107010909_umdjj.thumb.700_0.jpeg); background-repeat: no-repeat; background-size: cover;}
body {filter: alpha(opacity=80); opacity: 0.8;}
a {font-size: 24px;font-weight:bold; color: #963}
h1 {text-align:center; color: #963}
</style>
</head>
<body>
<h1>国科晋云测试平台<h1>
<a href="interfaceList">待请求接口列表</a>
<a href="interfaceRespondList">接口请求结果</a>
<a href="qianyunGET">第三方接口监控</a>
<a href="collvalue">前后端对接文档</a>
<a href=""></a>
</body>
</html>
