<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
<title>接口执行结果</title>
<style type="text/css">
    table, th, td {table-layout: fixed; border: 2px solid blue; border-collapse: collapse; width: 100%; padding: 5px; }
    td { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
    table tr:nth-child(even){background: #ccc;}
</style>
</head>
<body>
<h1>接口执行结果</h1>

<a href="/">index</a>
 || <a href="interfaceList">待请求接口列表</a>
 || <a href="collvalue">前后端对接文档</a>
 || <a href="rule">字段规则</a>
<hr />
<form action="/interfaceRespondList" method="get">
ID：<input name="myid" value="" />
接口名称:<input list="namelist" value="" name="interface" autocomplete="off" />
<datalist id="namelist">
{% for i in result[3] %}
<option>{{i[0]}}</option>
{% endfor %}
</datalist>
当前页数：<input name="page" value="" />
执行结果：<input list="reslist" name="result" autocomplete="off" value="" />
<datalist id="reslist">
<option>True</option>
<option>False</option>
<option>Success</option>
<option>Faile</option>
</datalist>
<button>GO</button>
<p style="display:inline">total: {{result[1]}} | totalpage: {{result[2]}}</p>
</form>
<hr />
<table>
<thead>
<tr>
<th style="width: 30px">id </th><th style="width: 100px">模块</th><th>接口请求描述</th><th>接口地址</th><th>请求参数</th><th>请求响应</th><th style="width: 30px">响应码</th><th style="width: 70px">响应用时</th><th>执行结果</th><th style="width: 160px">执行时间</th>
</tr>
</thead>
<tfoot>
<tr>
<th style="width: 30px">id </th><th style="width: 100px">模块</th><th>接口请求描述</th><th>接口地址</th><th>请求参数</th><th>请求响应</th><th style="width: 30px">响应码</th><th style="width: 70px">响应用时</th><th>执行结果</th><th style="width: 160px">执行时间</th>
</tr>
</tfoot>
<tbody>
{% for i in result[0] %}
<tr>
<td style="width: 30px">{{i[0]}}</td><td title="{{i[1]}}" style="width: 100px">{{i[1]}}</td><th>{{i[8]}}</th><td title="{{i[2]}}">{{i[2]}}</td><td title="{{i[3]}}">{{i[3]}}</td><td title="{{i[4]}}">{{i[4]}}</td><td style="width: 30px">{{i[5]}}</td><td style="width: 70px">{{i[6]}}</td><td>{{i[9]}}</td><td style="width: 160px">{{i[7]}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
