<html>
<head>
<title>接口列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="https://fonts.loli.net/css?family=Quicksand:400" rel="stylesheet">
<link rel="icon" href="{{url_for('static',filename='image/favicon.ico')}}" type="image/x-icon"/>
<link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
<script src="{{url_for('static',filename='js/tanceng.js')}}"></script>
<!--<script src="{{url_for('static',filename='js/bundle.js')}}"></script>-->
<!--<script async defer src="{{url_for('static',filename='js/test.js')}}"></script>-->
<style type="text/css">
    table,th {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff8800; border-collapse: collapse; width: 100%}
    td {table-layout: fixed; word-break: break-all; word-wrap: break-word; border:2px solid #ff8800; border-collapse: collapse; }
</style>
</head>
<body>
  <audio id="vdo" {{result[9]}} loop>
  <!-- 如果浏览器不支持，则会呈现下面内容 -->
  <p>你的浏览器不支持HTML5音频，你可以<a href="{{url_for('static',filename='vidio/tuihou.mp3')}}">下载</a>这个音频文件。</p>
  <source src="{{url_for('static',filename='vidio/tuihou.mp3')}}" type="audio/ogg">
  </audio>
<h1>待请求接口列表</h1>
<a href="/">index</a>
 || <a href="interfaceRespondList">接口请求结果</a>
 || <a href="integrate">接口集成测试</a>
 || <a href="collvalue">前后端对接文档</a>
 || <a href="rule">字段规则</a>
 || <a href="http://24mail.chacuo.net/" target="view_window">测试助手</a>
<hr />
<form  enctype='multipart/form-data' action="/uploadfile" method="post" style="display:inline">
&nbsp || &nbsp<input type="file" name="myf" />
<button>上传接口用例(excel)</button>
</form>
<form  action="/downloadfile" method="get" style="display:inline">
<button>模板下载</button>
</form>
<form action="/interfaceList" method="get" style="float:left">
模块:<input list="namelist" value="" name="interface" autocomplete="off" />
<datalist id="namelist">
{% for i in result[3] %}
<option>{{i[0]}}</option>
{% endfor %}
</datalist>
开发者:<input list="namelist2" value="" name="author" autocomplete="off" />
<datalist id="namelist2">
{% for i in result[5] %}
<option>{{i[0]}}</option>
{% endfor %}
</datalist>
跳转页数：<input name="page" value="" />
<button>GO</button>
<p style="display:inline">total: {{result[1]}} | totalpage: {{result[2]}}</p>
</form>
<form method="get" action="/runtest" style="display:inline">
<input type="hidden" name="execut" value="" />
&nbsp&nbsp||&nbsp&nbsp <button>执行接口测试</button>
</form>
 || <input type="button" value="新增接口" onclick="Show();">
<!--新增接口-->
<div id="shade" class="c1 hide"></div>
<div id="modal" class="c2 hide">
<form action="/addInterface" method="post">
<input type="hidden" name="editinter" value="" />
<p>模块：<input list="modelist" name="imode" autocomplete="off" /></p>
<datalist id="modelist">
{% for i in result[6] %}
<option>{{i}}</option>
{% endfor %}
</datalist>
<p>接口描述：<input name="idesc" autocomplete="off" /></p>
<p>接口地址：<input name="iaddr" /></p>
<p>数据格式：<input list="headlist" value="" name="iheader" autocomplete="off" />
<datalist id="headlist">
<option>json</option>
</datalist>
</p>
<p>请求参数：<textarea name="iparam" rows="4" cols="45" onmouseover="showparam()" onmouseout="hideparam()" ></textarea><span id="testparam">提供参数都按json格式输入</span></p>
<p>请求方法:<input list="optionlist" value="" name="ioption" autocomplete="off" />
<datalist id="optionlist">
{% for i in result[7] %}
<option>{{i}}</option>
{% endfor %}
</datalist>
</p>
<p>开发者：<input list="authorlist" name="iauthor" autocomplete="off"  /></p>
<datalist id="authorlist">
{% for i in result[8] %}
<option>{{i}}</option>
{% endfor %}
</datalist>
<p>预期结果：<input name="iresult" /></p>
<p>测试账号密码：<textarea name="iuserpwd" rows="2" cols="45" onmouseover="showtip()" onmouseout="hidetip()" > {"username":"","passwd":""} </textarea><span id="testtip">提供调用该接口的账号和密码,按当前格式输入内容,确保正确的json格式</span></p>
<div></div>
<p><button>确定</button></p>
</form>
<p>
<input type="button" value="取消" onclick="Hide();">
</p>
    </div>
<table>
<thead>
<tr>
<th style="width: 40px">id </th><th style="width: 20%">模块</th><th style="width: 50%">接口描述</th><th>接口地址</th><th style="width: 50%">数据格式</th><th>请求参数</th><th style="width: 60px">请求方法</th><th style="width:70px">开发者</th><th style="width: 20%">预期结果</th><th style="width: 40%">录入时间</th><th style="width:100px">操作</th>
</tr>
</thead>
<tfoot>
<tr>
<th style="width: 40px">id </th><th style="width: 20%">模块</th><th style="width: 50%">接口描述</th><th>接口地址</th><th style="width: 50%">数据格式</th><th>请求参数</th><th style="width: 60px">请求方法</th><th style="width:70px">开发者</th><th style="width: 20%">预期结果</th><th style="width: 40%">录入时间</th><th style="width:100px">操作</th>
</tr>
</tfoot>
<tbody>
<form action="/delinterface" method="get">
{% for i in result[0] %}
<tr>
<td style="width: 40px">{{i[0]}}</td><td style="width: 30%">{{i[1]}}</td><th style="width: 50%">{{i[8]}}</th><td>{{i[2]}}</td><td style="width: 50%">{{i[3]}}</td><td>{{i[4]}}</td><td style="width: 60px">{{i[5]}}</td><td style="width:70px">{{i[7]}}</td><th>{{i[9]}}</th><td style="width: 40%">{{i[6]}}</td><td style="width: 100px"><button name="iid" value="{{i[0]}}">删除</button><button name='rid' value="{{i[0]}}">执行</button><div id="editinter" onclick="Show2();">编辑</div></td>
</tr>
</form>
<!--编辑接口-->
<div id="shade2" class="c3 hide"></div>
<div id="moda2" class="c4 hide">
<form action="/addInterface" method="post">
<p>模块：<input name="imode" value='{{i[1]}}' /></p>
<p>接口描述：<textarea name="idesc" rows="1" cols="55">{{i[8]}}</textarea></p>
<p>接口地址：<textarea name="iaddr" rows="1" cols="55">{{i[2]}}</textarea></p>
<p>数据格式：<input list="headlist" value="{{i[3]}}" name="iheader" autocomplete="off" />
<datalist id="headlist">
<option>json</option>
</datalist>
</p>
<p>请求参数：<textarea name="iparam" rows="4" cols="45" onmouseover="showparam2()" onmouseout="hideparam2()">{{i[4]}}</textarea><span id="testparam2">提供参数都按json格式输入</span></p>
<p>请求方法:<input list="optionlist" value="{{i[5]}}" placeholder="{{i[5]}}" name="ioption" autocomplete="off" />
<datalist id="optionlist">
{% for j in result[7] %}
<option>{{j}}</option>
{% endfor %}
</datalist>
</p>
<p>开发者：<input list="authorlist" value='{{i[7]}}' name="iauthor" autocomplete="off"  /></p>
<datalist id="authorlist">
{% for i in result[8] %}
<option>{{i}}</option>
{% endfor %}
</datalist>
<p>预期结果：<input name="iresult" value='{{i[9]}}' /></p>
<p>测试账号密码：<textarea name="iuserpwd" rows="2" cols="45" onmouseover="showtip2()" onmouseout="hidetip2()">{{i[10]}}</textarea><span id="testtip2">提供调用该接口的账号和密码,按当前格式输入内容,确保正确的json格式</span></p>
<input type="hidden" name="editinter" value="{{i[0]}}" />
<p><button>确定</button></p>
</form>
<p><input type="button" value="取消" onclick="Hide2();"></p>
</div>
{% endfor %}
</tbody>
</table>
</body>
</html>
