<html>
<head>
<style type="text/css">
    table { border-collapse:collapse; font:12px }
    th { background: #f4f4f4; cursor: pointer }
    th,td { padding:5px; border:black solid 1px; white-space:nowrap }
    th.sorted.ascending:after { content: "  \2191" }
    th.sorted.descending:after { content: " \2193" }
    th.no-sort,th.no-sort:hover { background: #f4f4f4; cursor: not-allowed }
</style>
</head>
<body>
<a href="/addInterface">add Interface</a>
<form action="/interface" method="get">
当前页数：<input name="page" />
<button>go</button>
<form>
<table>
<thead>
<tr>
<th>id </th>><th>接口名称 </th><th>接口地址</th><th>请求头</th><th>请求参数</th><th>请求方法</th><th>录入时间</th>
</tr>
</thead>
<tfoot>
<tr>
<th>id </th>><th>接口名称 </th><th>接口地址</th><th>请求头</th><th>请求参数</th><th>请求方法</th><th>录入时间</th>
</tr>
</tfoot>
<tbody>
{% for i in result[0] %}
<tr>
<th>{{i[0]}}</th><th>{{i[1]}}</th><th>{{i[2]}}</th><th>{{i[3]}}</th><th>{{i[4]}}</th><th>{{i[5]}}</th><th>{{i[6]}}</th>
</tr>
{% endfor %}
</tbody>
</table>
<p>total: {{result[1]}}</p>
<p>totalpage: {{result[2]}}</p>
</body>
</html>
